@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

/* PALETA DE COLORES 
    BLANCO #F5FFFA
    VERDE PRINCIPAL #22c55e
    NEGRO #000000
    VERDE CLARO #c2fbd7
    VERDE OSCURO #29be72
    VERDE PRINCIPAL #44D58A
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}
body {
    background: url(../img/fondo4_2.png);
    background-repeat: no-repeat;
    color: #000000;
    font-size: 15px;
    height: 100%;
}

li , a, button {
    font-size: 15px;
    color: #22c55e;
    text-decoration: none;
}



/* INICIO HEADER TOP */

.header_top {
    background-color: #22c55e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 10%;
    width: 100%;
}

/* INICIO REDES SOCIALES */

.header_top .redes_sociales {
    list-style: none;
}

.header_top .redes_sociales li {
    display: inline-flex;
    padding: 0px 20px;
}

.header_top .redes_sociales li a{
    transition: all 0.3s ease 0s;
    color: #000000;
    cursor: pointer;
}

.header_top .redes_sociales li a:hover{
    color: #F5FFFA;
}

.header_top .redes_sociales, .ig, .tw, .fb{
    height: 20px;
    width: auto;
}

/* FIN REDES SOCIALES */

/* INICIO SLOGAN */

/* FIN SLOGAN */

/* FIN HEADER TOP */

/* INICIO HEADER */

.header {
    position: fixed;
    background-color: #f5fffa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid #22c55e;
    padding: 5px 3%;
    z-index: 1000;
}



.top {
    top: 0px;
}

/* INICIO LOGO */

.header .logo_lupa {
    cursor: pointer;

}

.header .logo_lupa img {
    height: 60px;
    width: auto;
}

/* FIN LOGO */

/* INICIO BARRA DE BÚSQUEDA */

.busqueda {
    position: absolute;
    left: 10%;
    padding: 10px;
}

.buscar {
    box-sizing: border-box;
    height: 30px;
    width: 0;
    padding: 0 15px;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #22c55e;
    transition: all .7s ease;
}

::placeholder {
    color: #000000;
}

.lupa {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: #22c55e;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.lupa i {
    font-size: 25px;
    color: #F5FFFA;
    line-height: 50px;
    transition: all .7s ease;
}

.busqueda:hover input {
    width: 300px;
}

.busqueda:hover i {
    transform: rotate(-360deg);
}

.lupa:hover {
    background: #22c55e;
}

/* FIN BARRA DE BÚSQUEDA */

/* INICIO MENU PRINCIPAL */

.header .menu .activo {
    background-color: #22c55e;
    cursor: pointer;
}

.header .menu .activo a {
    color: #000000;
}

.header .menu .activo:hover {
    transform: scale(1.1);
}

.header .menu {
    list-style: none;
    margin-left: 100px;
}

.header .menu li {
    display: inline-block;
    padding: 15px 20px;
}

.header .menu a{
    font-size: 700;
    color: #22c55e;
    text-decoration: none;
}

.header .menu li:hover a{
    color: #000000;
}

.header .menu .nutricion {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #F5FFFA;
}

.header .menu li:hover .nutricion {
    display: block;
    background-color: #22c55e;
    margin-top: 10px;
}
.header .menu li:hover .nutricion a {
    color: #F5FFFA;
}

.header .menu .nutricion li:hover {
    background-color: #22c55e;
}

.header .menu li:hover .nutricion li:hover a {
    color: #000000;
}

/* FIN MENU PRINCIPAL */

/* INICIO BOTÓN CUENTA */

.header .cuenta {
    position: relative;
}
.header .cuenta li {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: #29be72;
    cursor: pointer;
    display: flex;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    touch-action: manipulation;
}

.header .cuenta li:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.header .cuenta li a {
    padding-top: 3px;
}

.header .cuenta .fa-solid {
    width: 25px;
    padding-right: 5%;
    padding-top: 2%;
    color: #29be72;
}

/* FIN BOTÓN CUENTA */

/* INICIO HEADER RESPONSIVO */

.checkbtn {
    font-size: 30px;
    color: #22c55e;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.check {
    display: none;
}

@media (max-width: 952px){

}

@media (max-width: 858px){
    
}

/* FIN HEADER RESPONSIVO */

/* FIN HEADER */

/* INICIO MAIN */

/* FIN MAIN */

/* INICIO FOOTER */

footer {
    text-align: center;
    position: relative;
    width: 100%;
    top: 100%;
    margin-top: 30px;
}

.footer {
    background-color: #22c55e;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #000000;
}

.footer li a{
    color: #F5FFFA;
}

.footer .titulo  {
    color: #000000;
}
.footer li {
    padding: 3px 3px;
}

.footer li:hover a {
    color: #000000;
}

.redes_sociales_footer {
    list-style: none;
}

.redes_sociales_footer li {
    display: inline-block;
    padding: 0px 20px;
    padding-top: 25px;
}

.inc {
    list-style: none;
    padding: 10px;
    color: #F5FFFA;
    background-color: #000000
}

.inc p {
    padding-top: 2px;
}

/* FIN FOOTER */